
<mat-toolbar *ngIf="this.auth.loggedIn()">
    <mat-toolbar-row>
        <button mat-icon-button color="primary" aria-label="Main Menu" (click)='onToggleSidenav()'>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Student System</span>
        <span class="spacer"></span>

        
        <a color="primary" [matMenuTriggerFor]="menu">
            <img class="avatar" src="assets/img/profile.jpg">
        </a>
        
<!--        <button mat-button aria-label="Main Menu" color="primary" [matMenuTriggerFor]="menu">-->
<!--            <mat-icon>verified_user</mat-icon>-->
<!--        </button>-->
        <mat-menu #menu="matMenu">
<!--            <mat-card>-->
<!--                <mat-card-header>What the hell</mat-card-header>-->
<!--            </mat-card>-->
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
