mat-toolbar {
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
}

.example-icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
