/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

.app-container {
    width: 90%;
    margin: 20px auto;
}

//html, body {
//    height: 100%;
//    max-width: 100%;
//    padding: 0;
//    margin: 0;
//    box-sizing: border-box;
//}
// body { background-color: red;  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
