.drawer-container {
  width: 100%;
  height: calc(100vh - 1rem);
}

 //.drawer-sidenav-content {
 //  display: flex;
 //  height: 100%;
 //  align-items: center;
 //  justify-content: center;
 //}

// .example-sidenav {
//   padding: 20px;
// }
