<mat-drawer-container class="drawer-container">
    <mat-drawer [class.mat-elevation-z4]="true"  #drawer
                class="drawer-sidenav" mode="side">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <app-toolbar (sidenavToggle)="drawer.toggle()"> </app-toolbar>

    <router-outlet></router-outlet>

    <!-- <div class="drawer-sidenav-content">
        -- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div> -->
</mat-drawer-container>
