.add-user-button{    
    position: fixed;
    right: 3em;
    bottom: 3em;
}

.export-users{
    float: right;
}

.table-border {
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    padding: 0px 20px 30px 20px;
}

mat-form-field {
    width: 100%;
}
