
<mat-card class="app-container clearfix">
  <mat-card-header class="clearfix"><h1>Registered Students</h1></mat-card-header>
  <button class="export-users" mat-button color="link" (click)="onExportCSV()">Export to CSV</button>

  <mat-form-field appearance="outline">
    <input matInput matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter student table">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-dialog-content>
    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="Username">
        <mat-header-cell *matHeaderCellDef mat-sort-header="Username"> Student Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="Name"> First Name. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header="Surname"> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="EmailAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Age">
        <mat-header-cell *matHeaderCellDef mat-sort-header="idNumber"> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{IDmanipulations.CalcAge(element.idNumber)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header="genderId"> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ formDataService.getGender(element.genderId)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button color="primary" mat-icon-button (click)='onUpdateStudent(row)'> <i class="material-icons">edit</i>
          </button>
          <button *ngIf="this.auth.getUserRole() === 'ADMIN'" color="accent" mat-icon-button
            (click)='onDeleteStudent(row)'> <i class="material-icons">delete</i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-dialog-actions>
</mat-card>


<button class="add-user-button" mat-fab *ngIf="this.auth.getUserRole() === 'ADMIN'" mat-button color='primary'
  (click)="onAddStudents()">
  <mat-icon>add</mat-icon>
</button>
