<h1 mat-dialog-title>Register Student</h1>
<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-horizontal-stepper linear="false" #stepper>
            <mat-step [stepControl]="registerForm">
                <ng-template matStepLabel>Personal Information</ng-template>
                <div class="row justify-content-around">
                    <div class="col-lg-5">
                        <div class="row">
                            <mat-form-field class="col-sm-12">
                                <input formControlName="name" matInput placeholder="First Name">
                                <mat-error *ngIf="registerForm.get('name').errors?.required">
                                    Please enter your <b>First name</b>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('name').errors?.minlength">
                                    <b>First Name</b> must be 2 to 20 character long
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-12">
                                <input formControlName="surname" matInput placeholder="Last Name">
                                <mat-error *ngIf="registerForm.get('surname').errors?.required">
                                    Please enter your <b>Last name</b>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('surname').errors?.minlength"><b>Last Name</b> must
                                    be 2 to 20 character long
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-12">
                                <label>
                                    <input formControlName="email" matInput placeholder="Email Address">
                                </label>
                                <mat-error *ngIf="registerForm.get('email').errors?.required"> Please enter your
                                    <b>Email Address</b>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('email').errors?.email"> Please enter a valid email
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-12">
                                <mat-label>User Role</mat-label>
                                <mat-select formControlName="userRole">
                                    <mat-option [value]="studentRole"  *ngFor="let role of formDataService.getSystemRolesList">
                                        <!--*ngIf="this.auth.getUserRole() === 'ADMIN'" -->
                                        {{role.role}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('userRole').errors?.required">
                                    Please choose one option
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-offset-2">
                        <div class="row">
                            <mat-form-field class="col-sm-12">
                                <input formControlName="idNumber" matInput placeholder="Identity Number">
                                <mat-error *ngIf="registerForm.get('idNumber').errors?.required"> Please enter your
                                    <b>Identity Number</b>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('idNumber').errors?.pattern"> Please enter a valid
                                    <b>Identity Number</b></mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-12">
                                <mat-label>Gender</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option *ngFor="let gender of formDataService.getGenderList"
                                                [value]="gender.id">
                                        {{gender.type}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('gender').errors?.required">
                                    Please choose one option
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-12">
                                <mat-label>Marital Status</mat-label>
                                <mat-select formControlName="maritalStatus">
                                    <mat-option *ngFor="let status of formDataService.getMaritalStatusList"
                                                [value]="status.id">
                                        {{status.status}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registerForm.get('maritalStatus').errors?.required">
                                    Please choose one option
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Address</ng-template>
                <div class="row">
                    <mat-form-field class="col-12">
                        <input formControlName="line1" matInput placeholder="Address line 1">
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <input formControlName="line2" matInput placeholder="Address line 2">
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <input formControlName="city" matInput placeholder="City">
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province">
                            <mat-option value="Eastern Cape">Eastern Cape</mat-option>
                            <mat-option value="Free State">Free State</mat-option>
                            <mat-option value="Gauteng">Gauteng</mat-option>
                            <mat-option value="KwaZulu-Natal">KwaZulu-Natal</mat-option>
                            <mat-option value="Limpopo">Limpopo</mat-option>
                            <mat-option value="Mpumalanga">Mpumalanga</mat-option>
                            <mat-option value="North West">North West</mat-option>
                            <mat-option value="Northern Cape">Northern Cape</mat-option>
                            <mat-option value="Western Cape">Western Cape</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <input formControlName="zipCode" matInput placeholder="Zip Code">
                    </mat-form-field>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button *ngIf="registerForm.valid" type="submit" value="Register" mat-flat-button color="primary"> Register
        </button>
    </mat-dialog-actions>
</form>
