<mat-card>
    <mat-card-header>
        <h1>Top Students</h1>

        <span class="spacer"></span>

        <mat-form-field appearance="outline">
            <mat-label>Current Academic Year</mat-label>
            <mat-select>
                <mat-option selected> 2020 </mat-option>
                <mat-option> 2019</mat-option>
                <mat-option> 2018</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-sm green-card">
                <img src="assets/img/person3.png" height="80" width="80"/>
                <h2>Lindokuhle Ngubane</h2>
                <span>Science <b>Grade 12</b></span>
                <h1><b>96.56%</b></h1>
                <div class="green-card-small">
                    1st
                </div>
            </div>

            <div class="col-sm purple-card">
                <img src="assets/img/person3.png" height="80" width="80"/>
                <h2>Senzo Ntuli</h2>
                <span>Science <b>Grade 12</b></span>
                <h1><b>96.56%</b></h1>
                <div class="purple-card-small">
                    2nd
                </div>
            </div>

            <div class="col-sm yellow-card">
                <img src="assets/img/person3.png" height="80" width="80"/>
                <h2>Ntakaso Khubone</h2>
                <span>Science <b>Grade 12</b></span>
                <h1><b>96.56%</b></h1>
                <div class="yellow-card-small">
                    3rd
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
