mat-card-content{
  padding: 0 10px;
}

mat-card{
  margin: 0.5rem;
  border-radius: 10px;
}


h1{
  padding: 0;
  margin-top: 5px;
}

h2{
  padding: 0;
  margin: 0;
}

mat-form-field{
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.col-sm{
  padding-top: 10px;
  color: white;
  border-radius: 10px;
  margin: 10px;
  text-align: center
}

.green-card{
  background-color: #3FB663;
}

.purple-card{
  background-color: #5c4e8e;
}

.yellow-card{
  background-color: #ffc000;
}

.green-card-small{
  background-color: #60D27F;
}

.purple-card-small{
  background-color: #7b6fc4;
}

.yellow-card-small{
  background-color: #e4ac00;
}

.yellow-card-small, .green-card-small, .purple-card-small{
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  width: 90%;
}
