<h1 mat-dialog-title>Update Student Information</h1>

<form [formGroup]="profileForm" #register="ngForm" (ngSubmit)="register.valid && onUpdateStudent()" novalidate>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Personal Details">
        <div class="row justify-content-around">
          <div class="col-md-5">
           <div class="row">
            <mat-form-field class="col-sm-12">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="Name">
              <mat-error> Please enter your <b>First name</b> </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-12">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="Surname">
              <mat-error> Please enter your <b>Last name</b> </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-12">
              <mat-label>Identity Number</mat-label>
              <input matInput formControlName="IdNumber">
              <mat-error> Please enter your <b>Identity Number</b> </mat-error>
            </mat-form-field>
           </div>
          </div>

          <div class="col-md-5">
            <div class="row">
              <mat-form-field class="col-sm-12">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="Email">
                <mat-error> Please enter your <b>Email Address</b> </mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-12">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="GenderId" [(value)]="data.genderId">
                  <mat-option *ngFor="let genders of _formDataService.getGenderList" [value]="genders.id">
                    {{genders.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-sm-12">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="MaritalStatusId" [(value)]="data.maritalStatusId">
                  <mat-option *ngFor="let status of _formDataService.getMaritalStatusList" [value]="status.id">
                    {{status.status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Address Info">
        <form [formGroup]="addressForm">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <mat-form-field class="col-sm-12">
                  <input matInput formControlName="line1" placeholder="Address line 1">
                </mat-form-field>

                <mat-form-field class="col-sm-12">
                  <input matInput formControlName="line2" placeholder="Address line 2">
                </mat-form-field>

                <mat-form-field class="col-sm-12">
                  <input matInput formControlName="city" placeholder="City">
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-5">
              <div class="row">
                <mat-form-field class="col-sm-12">
                  <input matInput formControlName="province" placeholder="Province">
                </mat-form-field>

                <mat-form-field class="col-sm-12">
                  <input matInput formControlName="zipCode" placeholder="Zip Code">
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      *ngIf="((this.profileForm.dirty && this.profileForm.valid) || (this.addressForm.dirty && this.addressForm.valid))"
      type="submit" value="Update" mat-flat-button color="primary"> Update </button>
  </mat-dialog-actions>
</form>
