<div mat-dialog-content>
  <h3>Are you sure you want to Delete</h3>
  <p>{{data.name}} {{data.surname}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="warn" mat-dialog-close (click)="onDelete()">Delete</button>
</div>