hr{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  margin: 5px;
}

img{
  align-content: center;
  margin-left: 10px;
}

.app-container > div > mat-card{
  margin: 0.5rem;
  border-radius: 10px;
}

app-performance, app-calender, app-leader-board{
  margin: 0;
  padding: 0;
}

.col-lg-6{
  padding: 0;
  margin: 0;
}

.red-border{
  border-left: 10px solid #f08080;
}

.green-border{
  border-left: 15px solid lightgreen;
}

.yellow-border{
  border-left: 15px solid yellow;
}

.purple-border{
  border-left: 15px solid mediumpurple;
}

.red-border{
  border-left: 15px solid lightcoral;
}
