<div class="app-container">
<!--    States row-->
    <div class="row">
        <mat-card class="col-sm-12 col-md-6 col-lg red-border">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/school.png" height="80">
                </div>
                <hr width="2">
                <div class="col-sm">
                    <p i18n>Class Rooms</p>
                    <h2><b>126</b></h2>
                </div>
            </div>
        </mat-card>

        <mat-card class="col-sm-12 col-md-6 col-lg purple-border">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/people.png" height="80">
                </div>
                <hr width="2">
                <div class="col-sm">
                    <p i18n>Students</p>
                    <h2><b>46001</b></h2>
                </div>
            </div>
        </mat-card>

        <mat-card class="col-sm-12 col-md-6 col-lg yellow-border">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/school.png" height="80">
                </div>
                <hr width="2">
                <div class="col-sm">
                    <p i18n>Teachers</p>
                    <h2><b>61</b></h2>
                </div>
            </div>
        </mat-card>

        <mat-card class="col-sm-12 col-md-6 col-lg green-border">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/school.png" height="80">
                </div>
                <hr width="2">
                <div class="col-sm">
                    <p i18n>Parents</p>
                    <h2><b>3254</b></h2>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="row">
        <app-calender class="col-sm-12 col-md-12 col-lg-6"></app-calender>
        <div class="col-lg-6">
            <div class="row col-lg">
                <app-performance class="col-sm-12"></app-performance>

                <app-leader-board class="col-sm-12"></app-leader-board>
            </div>
        </div>
    </div>
</div>
