<mat-nav-list dense>
    <img src="assets/img/navBackground.jpg" height="120">

    <mat-list-item routerLink="dashboard">
        <a>Dashboard </a>
    </mat-list-item>
    <mat-list-item routerLink="student-listing">
        Student Listing
    </mat-list-item>

    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Subjects
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <mat-expansion-panel *ngFor="let subject of studentSubjects" [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header> {{subject.name}} </mat-expansion-panel-header>
                <mat-nav-list dense>
                    <a mat-list-item routerLink="/summary-report"> Marks </a>
                    <a mat-list-item routerLink="#"> Subject Outline </a>
                    <a mat-list-item routerLink="#"> Assessments </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-label>No Subjects</mat-label>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header> Reports</mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item routerLink="/summary-report"> Term One </a>
            <a mat-list-item routerLink="#"> Term Two </a>
            <a mat-list-item routerLink="#"> Term Three </a>
            <a mat-list-item routerLink="#"> Term Four </a>
        </mat-nav-list>
    </mat-expansion-panel>

</mat-nav-list>
