<img class="wave" src="assets/img/wave.png">
<div class="container">
    <mat-card class="login-content mat-elevation-z5">
        <img class="sideIcon" src="assets/img/logInImage.svg">

        <form [formGroup]="logInForm" novalidate autocomplete="off" (ngSubmit)="onLogIn()">
            <img class="aveter" src="assets/img/logInProfilesvg.svg">
            <h2 class="title">Welcome</h2>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName='Username' matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput formControlName='Password' type="password">
            </mat-form-field>
            <button class="btn" type="submit" mat-flat-button color="primary">Log In</button>
        </form>
    </mat-card>
</div>
