.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
}

form {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.login-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.login-content h2 {
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.sideIcon {
  width: 400px;
  padding-left: 50px;
}

.aveter {
  width: 100px;
  height: 100px;
  display: flex;
  align-self: center;
}

.title{
  padding: 20px;
  margin: 10px 20px;
}
mat-card {
  top: 10vh;
  height: 75vh;
  border-radius: 30px;
  background-color: white;
}

mat-form-field, .btn{
  width: 100%;
}
