<mat-card>
    <mat-card-content>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Africa%2FJohannesburg&amp;src=bGluZG9uZ3ViYW5lNEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTEyNDgxMjA2OTA1ODE0NjMxNTk5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4uc2EjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%237986CB&amp;color=%23795548&amp;color=%237986CB&amp;showTitle=1&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;mode=MONTH&amp;showTz=0"
                width="800" height="650" frameborder="0" scrolling="true"></iframe>
    </mat-card-content>
</mat-card>
